{% extends "mainapp/layouts/sidebar_layout.html" %}

    {% block head_title %}Delete NoteLabel{% endblock %}

    {% block main_content %}
    <div class="container">
        <h2 class="h2">Delete NoteLabel</h2>

        <div class="alert alert-danger">
            <p>Are you sure you want to delete this notelabel?</p>

            <div class="card mt-3">
                <div class="card-body">
                    
                    <div class="row mb-2">
                        <div class="col-4"><strong>Note:</strong></div>
                        <div class="col-8">{{ object.note }}</div>
                    </div> 
                    <div class="row mb-2">
                        <div class="col-4"><strong>Label:</strong></div>
                        <div class="col-8">{{ object.label }}</div>
                    </div>
                </div>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'notelabel_detail' object.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    {% endblock %}